/**
 * reset
 */
html{
  font-size: 10px;
  font-family: 'Arial', 'Helvetica', '宋体', 'sans-serif','微软雅黑';
}
body {
  color: @font-color;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
p{
  line-height: 25px;
  margin: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: none
}
h1,h2,h3,h4,h5,h6{
  margin: 10px 0;
}
.cf:before,
.cf:after {
  content: "";
  display: table
}
.cf:after {
  clear: both
}
.cf {
  zoom: 1
}
/**
 * dome - main
 */
.dof{
  width: 100%;
  height: 100%;
  position: relative;
}
.dof-layer{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/**
 * main-test
 */
 .dof-layer{
   background-color: rgba(0, 0, 0, 0.1);
 }
.layer1 .box,.layer2 .box,.layer3 .box,.layer4 .box,.layer5 .box{
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #000;
}
.layer1 .box{
  top: 10px;
  left: 10px;
  background-color: red;
}
.layer2 .box{
  top: 70px;
  left: 70px;
  background-color: green;
}
.layer3 .box{
  top: 130px;
  left:130px;
  background-color: blue;
}
.layer4 .box{
  top:190px;
  left:190px;
  background-color: orange;
}
.layer5 .box{
  top:250px;
  left:250px;
  background-color: white;
}
