/**
 * reset
 */
html{
  font-size: 10px;
  font-family: 'Arial', 'Helvetica', '宋体', 'sans-serif','微软雅黑';
}
body {
  color: @font-color;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
p{
  line-height: 25px;
  margin: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: none
}
h1,h2,h3,h4,h5,h6{
  margin: 10px 0;
}
.cf:before,
.cf:after {
  content: "";
  display: table
}
.cf:after {
  clear: both
}
.cf {
  zoom: 1
}
/**
 * dome - main
 */
.dof{
  width: 110%;
  height: 110%;
  position: relative;
  background:url(images/bg.png) 0 bottom no-repeat;
}
.dof-layer{
  width: 110%;
  height: 110%;
  position: absolute;
  left: 0;
  top: 0;
}
/**
 * main-test
 */
.layer1{
  /*top: 10px;
  left: 10px;*/
  background:url(images/layer01.png) 0 bottom no-repeat;
}
.layer2{
  /*top: 70px;
  left: 70px;*/
  background:url(images/layer02.png) 0 bottom no-repeat;
}
.layer3{
  /*top: 130px;
  left:130px;*/
  background:url(images/layer03.png) 0 bottom no-repeat;
}
.layer4{
  /*top:190px;
  left:190px;*/
  background:url(images/layer04.png) 0 bottom no-repeat;
}
.layer5{
  /*top:250px;
  left:250px;*/
  background:url(images/layer05.png) 0 bottom no-repeat;
}
.box.one{
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  margin: 0;
}
.box.two{
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  margin: 0;
}
.box.three{
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  margin: 0;
}
.box.four{
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  margin: 0;
}
